div#dynbg_area {
	position:fixed; 
	background-color:transparent; 
	width:100%; 
	height:100%;
	z-index: -1;
}

div#skyline_text {
	opacity: 0;
	color: #e0e0e0;
	position: fixed;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}

/*	big bento:*/
@media screen and (min-width: 480px) {
	div#bento_frame{
		position:fixed;
		top:100%;
		width:350px;
		height:350px;
		margin-left:50px;
		margin-top:-310px;	
		opacity: 1;
		color: white;
		margin-left:70px;
		font-family: 'Lato', sans-serif;
		letter-spacing: -7px;
	}
	div.bento_3d_disabled_frame {
		opacity: 1;
	}
	div.bento_3d_enabled_frame {
		perspective:250px;	
	}
	div.bento_3d_disabled {
		position:fixed;
		top:100%;
		margin-top:-280px;
	}
	div.bento_3d_enabled {
		transform: rotate3d(0,1,0,20deg);
	}
	div#bento {
		color:black;
	}
	div#bento_title {
		font-size: 90px;
		font-family: 'Oswald', sans-serif;
		letter-spacing: -5px;
		overflow: hidden;
	}
	div#bento_bar {
		position:absolute;
		width:20px;
		margin-top: -5px;
	}
	div#bento_speaker img {
		position:fixed;
		margin: 5px;
		width:30px;
		height:30px;
		top:-5px;
	}
	div#bento_menu {
		top: -10px;
		left: 0px;
		height:50px;	
		width:350px;
	}
	div#menu_button {
		position:absolute;
		background-color: #fff;
		left: 25px;
		top: 25px;
		width: 60px;
		height: 60px;
		border-radius: 15px;		
		z-index:5;
	}
	div#menu_line_frame {
		margin: 10px;
		height:70%;
	}
	div.menu_line {
		position:relative;
		width: 100%;
		background-color: #000;
		margin-top:15%;
		height:20%;
	}
	div#bento_comment {
		position:absolute;
		font-size: 25px;
		margin-top: -10px;
		margin-left: 25px;
		letter-spacing: -2px;
	}
	div.bento_comment_3d_enabled {
		left: 1px;
	}
	div.bento_comment_3d_disabled {
		
	}
	div#bento_copyrights {
		position: fixed;
		color: #60FC4E;
		top: 100%;
		margin-top: -20px;
		margin-left: 10px;
		text-align: center;
		font-family: 'Titillium Web', sans-serif;	
		font-size: 14px;
	}
	div.div_menu {
		font-family: 'Titillium Web', sans-serif;
		letter-spacing: 0px;
		position: relative;
		display: inline-block;
		width:70px;
		height:50px;
		line-height: 50px;	/* trick: line-heigthì™€ heightë¥¼ ë™ì¼í•˜ê²Œ ì£¼ë©´ í…ìŠ¤íŠ¸ê°€ ê°€ìš´ë°ë¡œ ì •ë ¬ëœë‹¤ */
		text-align: center;	
		font-size: 12px;
	}
	div.div_menu_backplate {
		position: absolute;
		background-color: #888;
		width: 70px;
		left: 0px;
		top: 50px;
		height: 0px;
		z-index: -1;
	}
	div#bento_focused_menu_backplate {
		position: absolute;
		opacity: 0;
		background-color: #ccc;
		width: 70px;
		left: 0px;
		top: 120px;
		height: 0px;
		z-index: -1;
	}
	iframe#content {
		/*display:none;*/
		width: 100%;
		top: 0%;
		left: 0%;
		height:100%;
		position:absolute;
		border: 0px;		
	}
	div#content_frame {
		width: 0%;
		top: 0%;
		left: 100%;
		height:100%;
		position:fixed;
		border: 0px;
		text-align: center;
	}
	div#loadingscore {
		display: inline-block;
		width: 100px;
		font-size: 35px;
		font-family: 'Oswald', sans-serif;
		height: auto;
		position: absolute;
		background-color: #f60d54;
		color:black;
		z-index: 15;
		top: 50%;
		margin-top:4px;
	}
	div#loadingbar {
		display: inline-block;
		width: 50px;
		height: 4px;
		border-radius: 1px;
		position: absolute;
		background-color: #f60d54 ;
		z-index: 15;
		top: 50%;
	}
}

/*	small bento: */
@media screen and (max-width: 479px) {
	div#bento_frame{
		position:fixed;
		top:100px;
		width:350px;
		height:350px;
		margin-left:30px;
		opacity: 1;
		color: white;
		font-family: 'Lato', sans-serif;
		letter-spacing: -7px;
	}
	div.bento_3d_disabled_frame {
	}
	div.bento_3d_enabled_frame {
	}
	div.bento_3d_disabled {
		position:fixed;
		top:100%;
		margin-top:-280px;
	}
	div.bento_3d_enabled {
	}
	div#bento {
		color:black;
	}
	div#bento_title {
		font-size: 80px;
		font-family: 'Oswald', sans-serif;
		letter-spacing: -5px;
		overflow: hidden;
	}
	div#bento_bar {
		position:absolute;
		width:20px;
		margin-top: -5px;
	}
	div#bento_speaker img {
		position:fixed;
		margin: 5px;
		width:30px;
		height:30px;
		top:-5px;
	}
	div#bento_menu {
		position: absolute;
		top: 200px;
		left: 0px;
		height:50px;	
		width:60%;
	}
	div#menu_button {
		position:absolute;
		background-color: #fff;
		left: 25px;
		top: 25px;
		width: 60px;
		height: 60px;
		border-radius: 15px;		
		z-index:5;
	}
	div#menu_line_frame {
		margin: 10px;
		height:70%;
	}
	div.menu_line {
		position:relative;
		width: 100%;
		background-color: #000;
		margin-top:15%;
		height:20%;
	}
	div#bento_comment {
		position:absolute;
		font-size: 20px;
		margin-top: -10px;
		margin-left: 25px;
		letter-spacing: -2px;
	}
	div.bento_comment_3d_enabled {
		left: 1px;
	}
	div.bento_comment_3d_disabled {
		
	}
	div#bento_copyrights {
		position: fixed;
		color: #60FC4E;
		top: 100%;
		margin-top: -20px;
		margin-left: 10px;
		text-align: center;
		font-family: 'Titillium Web', sans-serif;	
		font-size: 14px;
	}
	div.div_menu {
		font-family: 'Titillium Web', sans-serif;
		letter-spacing: 0px;
		position: relative;
		width:100%;
		height:50px;
		line-height: 50px;	/* trick: line-heigthì™€ heightë¥¼ ë™ì¼í•˜ê²Œ ì£¼ë©´ í…ìŠ¤íŠ¸ê°€ ê°€ìš´ë°ë¡œ ì •ë ¬ëœë‹¤ */
		text-align: center;	
		font-size: 20px;
	}
	div.div_menu_backplate {
		position: absolute;
		background-color: #888;
		width: 100%;
		left: 0px;
		top: 50px;
		height: 0px;
		z-index: -1;
	}
	div#bento_focused_menu_backplate {
		position: absolute;
		opacity: 0;
		background-color: #ccc;
		width: 70px;
		left: 0px;
		top: 120px;
		height: 0px;
		z-index: -1;
	}

	iframe#content {
		/*display:none;*/
		width: 100%;
		top: 0%;
		left: 0%;
		height:100%;
		position:absolute;
		border: 0px;		
	}
	div#content_frame {
		width: 0%;
		top: 0%;
		left: 100%;
		height:100%;
		position:fixed;
		border: 0px;
		text-align: center;
	}
	div#loadingscore {
		display: inline-block;
		width: 100px;
		font-size: 35px;
		font-family: 'Oswald', sans-serif;
		height: auto;
		position: absolute;
		background-color: #f60d54;
		color:black;
		z-index: 15;
		top: 50%;
		margin-top:4px;
	}
	div#loadingbar {
		display: inline-block;
		width: 50px;
		height: 4px;
		border-radius: 1px;
		position: absolute;
		background-color: #f60d54 ;
		z-index: 15;
		top: 50%;
	}
}

div.div_dynbg {
	top: -800px;
	position:fixed;
	width:100%;
	height:100%;	
	opacity: 1;
}